#main-container {
  display: grid;
  position: relative;
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
  top: 0;
}
