// @import "~antd/dist/antd.css";

#main {
    #searchBar {
        display: grid;
        margin: 20px auto;
        width: 500px;
        position: relative;
        zoom: 150%;
        color: aliceblue;
        background-color: transparent;
        border-color: transparent;
        border-bottom: solid 2px #555;

        &:hover {
            border-color: transparent;
            border-bottom: solid 2px #da8388;
        }

        &:focus {
            border-color: transparent;
            border-bottom: solid 2px #da8388;
        }
    }

}
